.floatingLabelGroup {
	position: relative;
	margin: 10px 0;
	padding: 5px;
	outline: none;
	/* margin-top: 15px;
	margin-bottom: 25px; */
}
.floatingLabelGroup .floatingLabel {
	font-size: 13px;
	color: #cccccc;
	position: absolute;
	pointer-events: none;
	top: 9px;
	left: 12px;
	transition: all 0.1s ease;
}
.floatingLabelGroup input:focus ~ .floatingLabel {
	top: -15px;
	left: 0px;
	font-size: 11px;
	opacity: 1;
	color: #404040;
}
.floatingLabelGroup input:not(:focus):placeholder-shown ~ .floatingLabel {
	top: 9px;
	left: 12px;
	font-size: 13px;
	color: #cccccc;
}

.row {
	margin-top: 50px;
}

